.floatBtn {
    position: fixed;
    right: 30px;
    bottom: 60px;
    // width: 60px;
    height: auto;
    z-index: 999;

    @media screen and (max-width: 768px) {
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .fb {
        background-color: #3A559F;
    }
    .line {
        background-color: #00b900;
    }

    a {
        position: relative;
        width: 100%;
        color: #FFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: $xl;
        text-decoration: none;
        height: 60px;
        border-radius: 10px;
        padding: 2px 10px;
        margin-top: 10px;
        @media screen and (max-width: 768px) {
            margin-top: 0;
            border-radius: 0px;
            height: 40px;
        }

        p {
            // display: none;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            letter-spacing: 2px;

            @media screen and (max-width: 768px) {
                display: block;
                font-size: $lg;
            }
        }
        img {
            position: relative;
            top: 2%;
            height: 70%;
            @media screen and (max-width: 768px) {
                width: auto;
                height: 30px;
                top: 0;
            }
        }

        @media screen and (max-width: 768px) {
            font-size: $normal;
        }
    }
}